/* Outside media query */
.navbar {
	background-color:  #FFF8DC;
	/* display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:  #FFFFF0;
	min-height: 5rem;
	margin: auto;
	padding: 0.25rem;
	max-width: 1280px; */
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	min-height: 5rem;
	margin: auto;
	padding: 0.25rem;
	max-width: 1280px;
}

.navbar-title {
	text-decoration: none;
	color: black;
	font-size: 2.25rem;
	font-weight: bold;
}

.navbar-button {
	display: none;
	margin-right: 1rem;
}

.navbar-profile {
	display: none;
	margin-right: 1rem;
}

.navbar-container-links {
	display: none;
}

.navbar-container-image {
	padding-left: 1rem;
}

.navbar-hamburger-button {
	font-size: 1.5rem;
	cursor: pointer;
	padding-right: 1rem;
	display: flex;
}

.right-bar {
	display: flex;
}


/* CSS for Login Modal */
.login-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 200ms
}

.dark-overlay-login {
    position: fixed;
    width: 100%;
    height:100%;
    right:0;
	top: 0;
    background: rgba(0,0,0,0.1);
    z-index: 1;
    transition-duration: 200ms;
}


/* Navbar Side Menu Components */
.navSideMenu {
    position: fixed;
    height: 100%;
    width: 33.33%;
	top: 0;
	opacity: 88%;
    background: black;
    z-index: 1001;
    transition-duration: 300ms;
    
}

.dark-overlay {
    position: fixed;
    width: 100%;
    height:100%;
    right:0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    transition-duration: 400ms;
}

.navSideMenuItems {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}


.navItemSide {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 100ms
}

.navItemSide:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}




/* inside media query */
@media (min-width: 768px) {
	.navbar-link {
		text-decoration: none;
		color: black;
		font-size: 1rem;
		padding: 0;
		
	}

	.navbar-link-button {
		text-decoration: none;
		color: black;
		font-weight: 2rem;

	}

	.navbar-link:hover {
		color: #041b9b;
		cursor: pointer;
	}

	.navbar-links {
		display: flex;
		list-style-type: none;
		color: white;
		margin-bottom: 0;
	}

	.navbar-item {
		margin-right: 2rem;
		margin-bottom: 0;
		padding: 0;
	}

	.navbar-container-links {
		display: flex;
	}

	.navbar-button {
		display: flex;
		padding: 0.75rem 1rem;
		font-size: 24px;
		cursor: pointer;
		text-align: center;
		justify-content: center;
		text-decoration: none;
		outline: none;
		color: #fff;
		background-color: #ff8552;
		border: none;
		border-radius: 1rem;
		margin-left: 1rem;
	}

	.navbar-button:hover {
		opacity: 95%;
	}

	.navbar-button:active {
		opacity: 80%;
		box-shadow: 0 5px #666;
		transform: translateY(1px);
	}

	.navbar-hamburger-button {
		display: none;
	}

    .navSideMenu {
    display: none;
    }

    .dark-overlay {
    display: none;
    }

	.navbar-profile {
	display: block;
	margin-right: 1rem;
	justify-content: center;
	text-align: center;
	padding-top: 0.5rem;
	}

}
